<!--/* @author 安藤 優海 */-->
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<meta charset="UTF-8" />
<div th:fragment="layout-menu" th:remove="tag">
    <div th:unless="${#strings.isEmpty(session.loginUser)}">
        <div class="menu">
            <input type="checkbox" class="checkbox">
            <div class="span-container">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <th:block th:if="${session.loginUser.role} == 1">
                <div class="nav-container">
                    <h2>メニュー</h3>
                    <a th:href="@{/menu/file/search}">ファイル検索</a>
                    <a th:href="@{/menu/file/index}">ファイル管理</a>
                    <a th:href="@{/menu/team/index}">所属管理</a>
                    <a th:href="@{/menu/post/index}">役職管理</a>
                    <a th:href="@{/menu/user/index}">ユーザー管理</a>
                    <a th:href="@{/menu/password/changePassword}">パスワード変更</a>
                    <a th:href="@{/}">ログアウト</a>
                </div>
            </th:block>
            <th:block th:if="${session.loginUser.role} == 2">
                <div class="nav-container">
                     <h1>メニュー</h1>
                     <a th:href="@{/menu/file/search}">ファイル検索</a>
                     <a th:href="@{/menu/file/index}">ファイル管理</a>
                     <a th:href="@{/menu/password/changePassword}">パスワード変更</a>
                  <a th:href="@{/}">ログアウト</a>
                 </div>
           </th:block>
        </div>
    </div>
</div>

</html>