<?xml version="1.0" encoding="UTF-8"?>
<!-- @author 安藤 優海 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fms.mapper.TExclusiveControlMapper">

     <resultMap id="TExclusiveControlResult"
      type="fms.entity.TExclusiveControl">
      <id column="host_name" property="hostName" />
      <result column="screen_id" property="screenId" />
      <result column="file_id" property="fileId" />
      <result column="user_id" property="userId" />
      <result column="team_id" property="teamId" />
      <result column="post_id" property="postId" />
     </resultMap>

     <select id="getTExclusiveControl"
      resultType="fms.entity.TExclusiveControl" resultMap="TExclusiveControlResult">
          SELECT
          *
          FROM t_exclusive_control
          WHERE screen_id = #{screenId}
          <if test="fileId">
           AND file_id = #{fileId}
          </if>
          <if test="userId">
           AND user_id = #{userId}
          </if>
          <if test="teamId">
           AND team_id = #{teamId}
          </if>
          <if test="postId">
           AND post_id = #{postId}
          </if>
     </select>

     <insert id="insertTExclusiveControl"
      parameterType="fms.entity.TExclusiveControl" useGeneratedKeys="true"
      keyProperty="hostName">
          INSERT INTO t_exclusive_control(
              host_name,
              screen_id,
              file_id,
              user_id,
              team_id,
              post_id,
              first_create_date,
              last_modified_date,
              last_modified_user
          )
          VALUES(
              #{hostName},
              #{screenId},
              #{fileId},
              #{userId},
              #{teamId},
              #{postId},
              #{firstCreateDate},
              #{lastModifiedDate},
              #{lastModifiedUser}
          )
     </insert>

     <delete id="deleteTExclusiveControl">
            DELETE FROM t_exclusive_control
            WHERE host_name = #{hostName}
     </delete>

</mapper>